.olWrapper{
   list-style: none;
     
}

.liSort{
    text-decoration : none;
    margin: 0 auto;
    text-align: center;
    padding: 10px;

} 

/* .dataWrapper{
   text-align: center;
   text-transform: uppercase;
   border: 1px solid rgb(213, 148, 148);
   width: 70%;
  margin: 4em auto;
  
}

.blockQuote{
    padding: 4em;
} */