.olWrapper{
list-style: none;
background-image: url("image.jpeg");
background-size: cover;
transform: translateY( -5px);
height: 100vh;
background-repeat:no-repeat;
background-position:center;
}

.olWrapper span{
  color: white;
  font-size: 2em;
  font-weight: bolder;
  position: absolute;
  top: 1em;
}

.liSort{
    text-decoration : none;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    font-weight: bolder;
    transform: translateY(50px);
}

.linkWrapper{
  color: rgb(244, 241, 238);
  text-decoration: none;  
}


/* .dataWrapper{
   text-align: center;
   text-transform: uppercase;
   border: 1px solid rgb(213, 148, 148);
   width: 70%;
  margin: 4em auto;
  
}

.blockQuote{
    padding: 4em;
}*/